@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@100;300;400;500&display=swap");
* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
.container {
  display: flex;
  width: 90vw;
}
.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  position: relative;
  margin: 10px;
  height: 80vh;
  flex: 0.5;
  cursor: pointer;
  transition: flex 0.7s ease-in;
}

.panel.active {
  flex: 5;
}

.panel h3 {
  font-size: 24px;
  text-decoration: underline;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  opacity: 0;
}

.panel.active h3 {
  opacity: 1;
}
@media (max-width: 600px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
